%article
  %h1 
    Stored Values for
    = params[:id]

  %table
    %thead
      %tr
        %th Key
        %th Value
    %tbody
      - for k,v in @tuple.content
        %tr
          %th= k
          %td= v

%article
  %h1 Hashes
  %table
    %thead
      %tr
        %th Scheme
        %th Hash
    %tbody
      %tr
        %th SHA2
        %td= link_to @tuple.sha2, @tuple
      %tr
        %th SHA1
        %td= link_to @tuple.sha1, url_for(@tuple.sha1)
      %tr
        %th MD5
        %td= link_to @tuple.md5, url_for(@tuple.md5)
      
  
%article
  %h2 Help
  %a{:href => "/"} How to save a new hash